In [1]:
import pandas as pd

In [25]:
df_dense = pd.read_csv("/content/Submission-Dense.csv")
df_enet = pd.read_csv("/content/Submission-ENet.csv")
df_resnet = pd.read_csv("/content/Submission_resnet.csv")
df = df_dense.copy()

In [26]:
df["category_dense"] = df_dense["category"]
df["category_enet"] = df_enet["category"]
df["category_resnet"] = df_resnet["category"]
df.drop("category", axis = 1, inplace = True)

In [27]:
count = 0
df["category"] = df["category_dense"]
for i in range(len(df)):
  dense = df.loc[i, "category_dense"]
  enet = df.loc[i, "category_enet"]
  resnet = df.loc[i, "category_resnet"]
  if enet == dense:
    df.loc[i, "category"] = enet
    count += 1
  elif dense == resnet:
    df.loc[i, "category"] = dense
    count += 1
  elif enet == resnet:
    df.loc[i, "category"] = enet
    count += 1
df.drop(["category_dense", "category_enet", "category_resnet"], axis = 1, inplace = True)
print("Agreesion from 3 models {} %".format((count*100)/len(df)))

Agreesion from 3 models 86.38601674052191 %

In [30]:
df.head()

                               filename  category
0  fd663cf2b6e1d7b02938c6aaae0a32d2.jpg        25
1  c7fd77508a8c355eaab0d4e10efd6b15.jpg        27
2  127f3e6d6e3491b2459812353f33a913.jpg         4
3  5ca4f2da11eda083064e6c36f37eeb81.jpg        22
4  46d681a542f2c71be017eef6aae23313.jpg        12

In [31]:
df_dense.head()

                               filename  category
0  fd663cf2b6e1d7b02938c6aaae0a32d2.jpg        25
1  c7fd77508a8c355eaab0d4e10efd6b15.jpg        27
2  127f3e6d6e3491b2459812353f33a913.jpg         4
3  5ca4f2da11eda083064e6c36f37eeb81.jpg        14
4  46d681a542f2c71be017eef6aae23313.jpg        12

In [28]:
pd.DataFrame.to_csv(df, "Submission_final.csv", index = False)

In [23]:
!cp /content/kaggle.json ~/.kaggle

In [24]:
!kaggle competitions submit -c shopee-product-detection-student -f Submission_final.csv -m "Message"

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
100% 473k/473k [00:09<00:00, 49.0kB/s]
Successfully submitted to [Student] Shopee Code League - Product Detection