In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pandas.read_csv("/content/drive/My Drive/Colab datasets/order_brush_order.csv")
data.head()

          orderid     shopid     userid           event_time
0  31076582227611   93950878   30530270  2019-12-27 00:23:03
1  31118059853484  156423439   46057927  2019-12-27 11:54:20
2  31123355095755  173699291   67341739  2019-12-27 13:22:35
3  31122059872723   63674025  149380322  2019-12-27 13:01:00
4  31117075665123  127249066  149493217  2019-12-27 11:37:55

In [ ]:
list_shopid = list(data["shopid"])

In [ ]:
set_shopid = set(list_shopid)

In [ ]:
print(len(set_shopid))
shopid = list(set_shopid)

18770

In [ ]:
dict = {"shopid": shopid}
result = pd.DataFrame(dict, columns = ["shopid"])
data["event_time"] = pd.to_datetime(data["event_time"])

In [ ]:
data["event_time"].describe()

count                  222750
unique                 121064
top       2019-12-30 23:31:45
freq                       23
first     2019-12-27 00:00:00
last      2019-12-31 23:59:56
Name: event_time, dtype: object

In [ ]:
result["userid"] = np.array([0 for k in range(18770)])

In [ ]:
from collections import Counter
for shop_id in shopid:
  indx = []
  for ind, id in enumerate(data["shopid"]):
    if id == shop_id:
      indx.append(ind)
  df = data.iloc[indx]
  df["day"] = df["event_time"].dt.day
  df["hour"] = df["event_time"].dt.hour
  for day in [27,28,29,30,31]:
    df_day = df[df.day == day]
    for hour in range(24):
        df_hour = df_day[df_day["hour"] == hour]
        trans_num = df_hour.shape[0]
        count = Counter(df_hour["userid"].values)
        if (trans_num/user >= 3):
          value = max(count.values())
          lst = [key for key,val in count.values() if val == value] 
          break
    break
    if len(user_sus) >= 1:
      result[shop_id]["user_id"] = user.sus[0]
  user_sus = []
print(result.head())